.container{
    border: 1px solid green;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        background: $grayish-blue;
        width: 92%;
        max-width: 54rem;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 4rem 2rem 6.4rem 2rem;

        position: relative;

        .advice-id{
            color: $neon-green;
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: 0.35rem;
        }

        .advice{
            color: $light-cyan;
            font-size: 2.35rem;
            text-align: center;
            margin-top: 2.5rem;
            line-height: 141%;
        }

        .divider{
            margin-top: 2.4rem;
        }

        .desktop{
            display: none;
        }

        .random-button{
            background-color: $neon-green;
            padding: 2rem;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 3rem hsla(150, 100%, 66%, 0.75);
            }
        }
    }
}